

# สำหรับ Prisma Client ใช้รันในแอป (คุยผ่านตัวกรอง/Pooler ของ Supabase)
DATABASE_URL="Database connection string สำหรับ Prisma Client ที่คุยผ่าน PgBouncer หรือ Pooler ของ Supabase"

# สำหรับให้ Prisma CLI ใช้ทำ Migration / db push (ยิงตรงเข้า DB)
DIRECT_URL="Database connection string สำหรับ Prisma CLI ที่ยิงตรงเข้า DB โดยไม่ผ่าน PgBouncer หรือ Pooler ของ Supabase"

# Google OAuth (Optional - for Google Login)
# Get credentials from: https://console.cloud.google.com/apis/credentials
GOOGLE_CLIENT_ID='รหัส_client_id_จาก_google'
GOOGLE_CLIENT_SECRET='รหัส_client_secret_จาก_google'

# Facebook OAuth
FACEBOOK_CLIENT_ID='รหัส_app_id_จาก_facebook'
FACEBOOK_CLIENT_SECRET='รหัส_app_secret_จาก_facebook'


# App Configuration
NEXT_PUBLIC_APP_URL=http://localhost:3000


SITE_URL=http://localhost:3000

# BetterAuth Secret (for token signing)
BETTER_AUTH_SECRET="รหัสลับสำหรับ BetterAuth ใช้ในการเซ็นโทเค็นและการเข้ารหัสข้อมูลต่างๆ ควรเป็นค่าแบบสุ่มและมีความยาวเพียงพอ เช่น 32 ตัวอักษรขึ้นไป"
